#Github.com-Vasusen-code
ethon
telethon
https://github.com/mr-coder-v4/ethon/archive/refs/heads/main.zip
ffmpeg-python
cryptg
tgcrypto
pyrogram
psutil
speedtest-cli
python-decouple
python-dotenv
numpy
pillow
motor
wheel
six
pyfiglet
