#Github.com-Vasusen-code
ethon
telethon
https://codeload.github.com/mr-coder-v4/ethon/zip/refs/heads/hachoir-update
ffmpeg-python
cryptg
tgcrypto
pyrogram
psutil
speedtest-cli
python-decouple
python-dotenv
numpy
pillow
motor
wheel
six
pyfiglet
