#Github.com-Vasusen-code
https://codeload.github.com/mr-coder-v4/eth/zip/refs/heads/main
telethon
ethon
ffmpeg-python
cryptg
tgcrypto
pyrogram
psutil
speedtest-cli
python-decouple
python-dotenv
numpy
pillow
motor
wheel
six
